* {
  margin: 0;
  font-family: "Gotham Pro";
  font-size: 12px;
  line-height: 11px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;	
}

/* container
========================= */
.container {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
}


/* делю головную часть на лево...
========================= */
.header__block-left {
  display: flex;
  float: left;  	
}


/* ... и право
========================= */
.header__block-right {
  display: flex;
  float: right; 	
}


/* верхняя часть с логотипом и навигацией
========================= */
.logo {
  margin-top: 32px;
  margin-right: 45px; 
  margin-bottom: 29px; 
  margin-left: 0;
  max-width: 55px;
  max-height: 55px;
}

.logo-burger {
  display: none;
}

/* навигация левой части верхушки
========================= */
.nav {
  display: inline-block;
  padding: 54px 81px 50px 0;
}

/* навигация правой части верхушки
========================= */
.nav__second {
  display: inline-block;
  padding: 54px 0 50px 0;
  vertical-align: middle;
}

/* ссылки меню
========================= */
.nav__link {
  padding-right: 35px;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
}


/* форма поиска по сайту
========================= */
.form {
  display: flex;
  max-width: 178px;
  max-height: 24px;
  margin: 48px 35px 44px 0;
  padding: 0;
  border-left: none;
  border-top: none;
  border-right: none; 
  border-bottom: 1px solid #000000;
  background: transparent;
}

.form-img {
  float: right;
  padding-top: 5px;
  padding-right: 1px;
  padding-bottom: 5px;
}

.input {
  border: 0;
}
 
/* ссылка меню с покупной корзиной
========================= */

.nav__link-cart {
  padding-right: 4px;
  font-size: 12px;
  color: #000000;
}

/* рисуем черный кружок и в нем цифру 1
========================= */
.nav__link-one {
  display: inline-block;
  font-size: 10px;
  line-height: 13px;
  width: 15px;
  height: 15px;
  background: black;
  border-radius: 50%;
  text-align: center;
  color: white;
  vertical-align: middle;
}

/* кнопка с флагом сша
========================= */
.usa{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.usa-image{
  padding: 3px 0;
}


/* картинка головной части страницы
========================= */
.header__img {
  max-width: 1030px;
  max-height: 280px;
} 

.header__img-tablet,
.header__img-phone {
  display: none;
}

.header__title {
  position: absolute;
  max-width: 195px;
  max-height: 87px;
  left: calc(50% - 195px/2 - 358px);
  top: 207px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: justify;
  text-transform: uppercase;
  color: #ffff;
}

.header__txt{
  position: absolute;
  max-width: 72px;
  max-height: 12px;
  left: calc(50% - 72px/2 - 419px);
  top: 309px;
  font-style: normal;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: justify;
  text-transform: uppercase;
  color: #ffff;
}

/* стрелка в картинке головной части страницы
========================= */

.header__arrow {
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 0;
  margin: 0;
}

.header__arrow div {
  position: relative;
  top: -85px;
  width: 43px;
  height: 1px;
  background-color: #ffffff;
  left: calc(50% - 43px/2 + 135px);
  display: block;
}

.header__arrow div::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 1px;
  top: -2px;
  right: 0px;
  background-color: #ffffff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.header__arrow div::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 1px;
  top: 3px;
  right: 0px;
  background-color: #ffffff;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

/* Section
========================= */

.section__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 21px;
  text-align:  center;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 54px;
  margin-bottom: 15px;
  padding-bottom: 1px;
} 

/* обертка для колонок с товаром
========================= */
.wrap {
  overflow: hidden;
} 

.column1,
.column2,
.column3,
.column4 {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  max-width: 230px;
  margin-bottom: 26px;
}

.column1 {
 margin-right: 19px;
}

.column2,
.column3 {
 margin-right: 18px;
 margin-left: 18px;
}

.column4 {
  margin-right: 0;
  margin-left: 19px;
}

/* изображение товара
========================= */
.col__img1170{
  max-width: 188px;
  max-height: 173px;
  margin-top: 0;
  margin-right:  19px;
  margin-bottom: 24px;
  margin-left: 23px;
}

.col__img1024,
.col__img768,
.col__img375-320 {
  display: none;	
}


/* описание товара
========================= */
.col__item {
  margin: 0 12px 6px 12px;
  padding-top: 6px;
  font-style: normal;
  font-weight: normal;
  line-height: 11px;
}

/* цена товара
========================= */
.section__price {
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  float: left;
  /*width: 86px;*/
  margin-top: 0;
  margin-right: 99px;
  margin-bottom: 21px;
  margin-left: 12px;
}

/* CIRCLE
******************************************* */
.section__item {
  cursor: pointer;
}

.section__item_gray,
.section__item_red,
.section__item_yellow,
.section__item_blue {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #c4c4c4; 
  border: none;
}

.section__item_gray{
  background: #c4c4c4;
  margin-right: 6px;
}

.section__item_red {
  background: #b62e3c;
  margin-right: 6px;
}

.section__item_yellow {
  background: #fdb431;
  margin-right: 6px; /* из головы */
}

.section__item_blue {
  background: #41479b;
  margin-right: 6px;
}

.section__item_black,
.section__item_peach,
.section__item_burgundy,
.section__item_lightblue {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-right: 6px;
  border-radius: 50%;
  border: none;
}

.section__item_black {
  background: #0E1211;
}

.section__item_peach {
  background: #e29d69;
}

.section__item_burgundy {
  background: #b62e3c; 
}

.section__item_lightblue {
  background: #257da9;
}


/* вертикальные линии
******************************************* */

/*.vertikal-one,
.vertikal-two,
.vertikal-three {
  position: absolute;
  top: 528px;
}*/  /* изначально пробовала картинки вставить */

.column2:before {
  content:"";
  opacity: .1;
  background: black;
  width: 1px;
  height: 100px;
  position: absolute;
  top: 528px;
  margin-left: 18px;
  left: calc(50% - 1px/2 - 282px);
}

.column3:before {
  content:"";
  opacity: .1;
  background: black;
  width: 1px;
  height: 100px;
  position: absolute;
  top: 528px;
  margin-left: 18px;
  left: calc(50% - 1px/2 - 16px);
}

.column4:before {
  content:"";
  opacity: .1;
  background: black;
  width: 1px;
  height: 100px;
  position: absolute;
  top: 528px;
  margin-left: 18px;
  left: calc(50% - 1px/2 + 250px);
}


/* Media- запросы. 
************************** */
@media screen 
and (max-width: 1024px)
and (min-width: 769px) {

.body {
  width: 100%;
  max-width: 1024px;
  min-width: 769px;
  margin: 0 auto;	
}

.container {
  width: 100%;
  max-width: 930px;
  margin: 0 auto;
}

.logo {
  margin-top: 32px;
  margin-right: 29px; 
  margin-bottom: 38px; 
  max-width: 61px;
  height: 55px;
}

.nav {
  padding: 54px 35px 61px 0; /* padding-right 35px задано пока из головы */
}

.nav__second {
  padding: 54px 0 61px 0; /* padding-right 25px переписала от .nav */
  margin-right: 2px;
}

.nav__link_ipad1 {
  padding-right: 25px;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  align-items: center;
  text-transform: uppercase;
  color: #000000;	
}

.form {
  display: flex;
  max-width: 161px;
  margin: 48px 33px 58px 0;
}

.nav__link-one {
  max-width: 13px;
  max-height: 15px;
}

.usa-image{
  margin-top: 49px;
  margin-bottom: 61px;
}

.header__img {
  max-width: 930px;
  max-height: 253px;
} 

.header__img-phone {
  display: none;
}

.header__title {
  max-width: 209px;
  max-height: 79px;
  left: calc(50% - 209px/2 - 307px);
  top: 217px;
}

.header__txt{
  max-width: 77px;
  max-height: 11px;
  left: calc(50% - 77px/2 - 373px);
  top: 309px;
  font-size: 12px;
  line-height: 11px;
}

/* стрелка в картинке головной части страницы
========================= */
.header__arrow {
  cursor: pointer;
  position: relative;
  max-width: 50px;
  height: 0;
  margin: 0;
}

.header__arrow div {
  position: relative;
  top: -77px;
  max-width: 46px;
  max-height: 1px;
  background-color: #ffffff;
  left: calc(50% - 46px/2 + 132px);
  display: block;
}

.header__arrow div::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 1px;
  top: -2px;
  right: 0px;
  background-color: #ffffff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.header__arrow div::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 1px;
  top: 3px;
  right: 0px;
  background-color: #ffffff;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

.section__title {
  margin-top: 67px;
} 

.column1, .column2, .column3, .column4 {
  max-width: 208px;
  margin-bottom: 52px;
}

.column1 {
  margin-right: 17px;
}

.column2 {
  margin-right: 16px;
  margin-left: 16px;
}

.column3 {
  margin-right: 16px;
  margin-left: 16px;
}

.column4 {
  margin-left: 17px;
}

.col__img1024 {
  display: inline-block;
  max-width: 170px;
  max-height: 173px;
  margin-right:  17px;
  margin-bottom: 24px;
  margin-left: 21px;	
}

.col__img1170,
.col__img768,
.col__img375-320 {
  display: none;	
}

.col__item {
  margin-right: 11px; 
  margin-left: 11px;
}

.section__price {
  /*width: 78px;*/
  margin-right: 88px;
  margin-bottom: 21px;
  margin-left: 11px;
}

.section__item_gray,
.section__item_red,
.section__item_yellow,
.section__item_blue {
  max-width: 6px;
  max-height: 7px;
}

.section__item_gray,
.section__item_red,
.section__item_blue {
  margin-right: 5px;
}

.section__item_yellow {
  margin-right: 5px;
}

.section__item_black,
.section__item_peach,
.section__item_burgundy,
.section__item_lightblue {
  max-width: 8px;
  max-height: 9px;
  margin-right: 5px;
}

.column2:before {
  content:"";
  opacity: .1;
  background: black;
  width: 1px;
  height: 100px;
  position: absolute;
  top: 528px;
  margin-left: 18px;
  left: calc(50% - 0px/2 - 260px);
}

.column3:before {
  content:"";
  opacity: .1;
  background: black;
  width: 1px;
  height: 100px;
  position: absolute;
  top: 528px;
  margin-left: 18px;
  left: calc(50% - 1px/2 - 18px);
}

.column4:before {
  content:"";
  opacity: .1;
  background: black;
  width: 1px;
  height: 100px;
  position: absolute;
  top: 528px;
  margin-left: 18px;
  left: calc(50% - 1px/2 + 222px);
}
}

/* Media- запросы от max=887 (точка излома сайта)
************************** */
/*@media screen and (max-width: 887px)
and (min-width: 376px) {

.body {
  max-width: 100%;
  max-width: 887px;
  min-width: 376px;
}

.column2:before,
.column3:before, 
.column4:before {
  display: none;
} */


/* Media- запросы 768 x 1024 (планшет)
************************** */
@media screen and (max-width: 768px)
and (min-width: 376px) {

.body {
  max-width: 100%;
  max-width: 768px;
  min-width: 376px;
}

.container {
  max-width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

.logo {
  display: none;
}

.logo-burger {
  display: inline-block;
  margin-top: 42px;
  margin-right: 464px;
  margin-bottom: 38px;
  margin-left: 43px;
}

.nav,
.nav__second,
.form,
.usa {
  display: none;
}

.wrapper {
  display: inline-block;
  cursor: pointer;
  margin-top: 46px;
  margin-bottom: 42px;
}

.line,
.line1 {
  width: 61px;
  height: 9px;
  background-color: #000000;
}

.line {
  margin-bottom: 8px;
}

.header__img,
.header__img-phone {
  display: none;
} 

.header__img-tablet {
  display: block;
  background-image: url(img/rob-potter-tablet.png);
  height: 415px;
  width: 768px;
} 

.header__title {
  max-width: 355px;
  max-height: 169px;
  left: calc(50% - 355px/2 - 162px);
  top: 230px;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 48px;
}

.header__txt {
  max-width: 119px;
  max-height: 9px;
  left: calc(50% - 119px/2 - 280px);
  top: 432px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 19px;
  white-space: nowrap;
}

/* стрелка в картинке головной части страницы
========================= */
.header__arrow {
  cursor: pointer;
  position: relative;
  max-width: 72px;
  height: 0;
  margin: 0;
}

.header__arrow div {
  position: relative;
  top: -95px;
  width: 71px;
  height: 2px;
  background-color: #ffffff;
  left: calc(50% - 71px/2 + 182px);
  display: block;
}

.header__arrow div::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 2px;
  top: -2px;
  right: -2px;
  background-color: #ffffff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.header__arrow div::before {
  content: '';
  position: absolute;
  width: 9px;
  height: 2px;
  top: 3px;
  right: -2px;
  background-color: #ffffff;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

.section__title {
  font-size: 30px;
  line-height: 29px;
  margin-top: 67px;
  margin-bottom: 21px;
  padding-bottom: 1px;
} 

.column1,
.column2 {
  max-width: 281px;
  margin-bottom: 14px;
}

.column3,
.column4 {
  display: none;
}

.column1 {
  margin-right: 66px;
  margin-left: 69px;
}

.column2 {
  margin-left: 0;
  margin-right: 70px;
}


.col__img1170,
.col__img1024,
.col__img375-320 {
  display: none;
}


.col__img768 {
  display: inline-block;
  width: auto;
  height: auto;
  margin-top: 0;
  margin-right:  23px;
  margin-bottom: 18px;
  margin-left: 28px;
}

/*.vertikal-one,
.vertikal-two,
.vertikal-three {
  display: none;
}*/

.column2:before,
.column3:before, 
.column4:before {
  display: none;
}

.col__item {
  margin-top: 0px;
  margin-right: 15px; 
  margin-bottom: 8px;
  margin-left: 15px;
  padding-top: 6px;
  font-size: 20px;
  line-height: 19px;
}

.col__item_small768 {
  margin-top: 0;
  margin-right: 0; 
  margin-bottom: 8px;
  margin-left: 14px;
  padding-top: 6px;
  font-size: 20px;
  line-height: 19px;
}

/* цена товара
========================= */
.section__price {
  font-size: 25px;
  line-height: 24px;
  margin-top: 0;
  margin-right: 55px;
  margin-bottom: 28px;
  margin-left: 15px;
}

.section__price_small768 {
  font-size: 25px;
  line-height: 24px;
  max-width: 105px;
  margin-top: 0;
  margin-right: 64px;
  margin-bottom: 28px;
  margin-left: 14px;	
}


.section__item_gray,
.section__item_red,
.section__item_yellow,
.section__item_black,
.section__item_peach,
.section__item_burgundy,
.section__item_red768,
.section__item_gray768 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
}

.section__item_gray,
.section__item_red,
.section__item_black,
.section__item_peach,
.section__item_burgundy,
.section__item_red768,
.section__item_gray768 {
  margin-right: 3px;
}

.sectin__item {
  max-width: 95px;
}

.section__item_red768 {
  background: #B62E3C;
}

.section__item_gray768 {
  background: #C4C4C4;
}

/*.section__item > .section__item_yellow {
  margin-right: 15px;
}

.section__item_small768 > .section__item_yellow {
  margin-right: 0;
}*/
}



@media screen and (max-width: 375px)
and (min-width: 321px) {
 
.body {
  max-width: 100%;
  max-width: 375px;
  min-width: 321px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 375px;
  min-width: 321px;
  margin: 0 auto;
}

.logo {
  display: none;
}

.logo-burger {
  display: block;
  width: 67%;
  max-width: 104px;
  margin-top: 24px;
  margin-right: 135px;
  margin-left: 48px;
}

.wrapper {
  display: inline-block;
  cursor: pointer;
  margin-top: 28px;
  margin-bottom: 28px;
}

.line,
.line1 {
  width: 41px;
  height: 6px;
  background-color: #000000;
}

.line {
  margin-bottom: 5px;
}

.nav,
.nav__second,
.form,
.usa,
.header__img,
.header__img-tablet {
  display: none;
}

.header__img-phone {
  display: block;
  background-image: url(img/rob-potter-375.png);
  margin-bottom: 0;
  height: 191px;
  width: 375px;
  padding: 0;
}

.header__title {
  max-width: 206px;
  max-height: 67px;
  left: calc(50% - 206px/2 - 37px);
  top: 134px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 19px;
}

.header__txt {
  max-width: 104px;
  max-height: 20px;
  left: calc(50% - 104px/2 - 88px);
  top: 210px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
}

.header__arrow {
  cursor: pointer;
  position: relative;
  max-width: 46px;
  height: 0;
  margin: 0;
}

.header__arrow div {
  position: relative;
  top: -50px;
  width: 46px;
  height: 1px;
  background-color: #ffffff;
  left: calc(50% - 46px/2 + 125px);
  display: block;
}

.header__arrow div::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 1px;
  top: -2px;
  right: -1px;
  background-color: #ffffff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.header__arrow div::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 1px;
  top: 2px;
  right: 0px;
  background-color: #ffffff;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

.section__title {
  font-size: 20px;
  line-height: 19px;
  margin-top: 33px;
  margin-bottom: 0;
  padding-bottom: 1px;
} 

.column1 {
  max-width: 281px;
  margin-bottom: 8px;
  margin-right: 46px;
  margin-left: 48px;
}

.column2,
.column3,
.column4 {
  display: none;
}

.col__img1170,
.col__img1024,
.col__img768 {
  display: none;
}

.col__img375-320 {
  display: inline-block;
  width: auto;
  height: auto;
  margin-top: 0;
  margin-right: 57px;
  margin-bottom: 17px;
  margin-left: 62px;
}

.vertikal-one,
.vertikal-two,
.vertikal-three {
  display: none;
}

.col__item {
  margin-top: 0px;
  margin-right: 80px; 
  margin-bottom: 6px;
  margin-left: 15px;
  padding: 0;
  font-size: 15px;
  line-height: 14px;
}

.section__price {
  font-size: 20px;
  line-height: 19px;
  margin-top: 0;
  margin-right: 86px;
  margin-bottom: 34px;
  margin-left: 15px;
  padding-right: 30px;
}

.section__item_yellow,
.section__item_black,
.section__item_red768,
.section__item_gray768 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
}

.section__item_black,
.section__item_red768,
.section__item_gray768 {
  margin-right: 2px;
}

.section__item_yellow {
   margin-right: 0;
}

.section__item_red768 {
  background:  #B62E3C;
}

.section__item_gray768 {
  background: #C4C4C4;
}
}



@media screen and (max-width: 320px) {

.body {
  max-width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 320px;
}

.logo {
  display: none;
}

.logo-burger {
  display: block;
  width: 67%;
  max-width: 104px;
  margin-top: 24px;
  margin-right: 135px;
  margin-left: 20px;
}

.wrapper {
  display: inline-block;
  cursor: pointer;
  margin-top: 28px;
  margin-bottom: 28px;
}

.line,
.line1 {
  width: 41px;
  height: 6px;
  background-color: #000000;
}

.line {
  margin-bottom: 5px;
}

.nav,
.nav__second,
.form,
.usa,
.header__img,
.header__img-tablet {
  display: none;
}

.header__img-phone {
  display: block;
  background-image: url(img/rob-potter-320.png);
  margin-bottom: 0;
  height: 191px;
  width: 320px;
  padding: 0;
}

.header__title {
  max-width: 206px;
  max-height: 67px;
  left: calc(50% - 206px/2 - 35px);
  top: 134px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 19px;
}

.header__txt {
  max-width: 104px;
  max-height: 20px;
  left: calc(50% - 104px/2 - 85px);
  top: 210px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
}

.header__arrow {
  cursor: pointer;
  position: relative;
  max-width: 46px;
  height: 0;
  margin: 0;
}

.header__arrow div {
  position: relative;
  top: -48px;
  width: 46px;
  height: 1px;
  background-color: #ffffff;
  left: calc(50% - 46px/2 + 100px);
  display: block;
}

.header__arrow div::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 1px;
  top: -2px;
  right: -1px;
  background-color: #ffffff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.header__arrow div::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 1px;
  top: 2px;
  right: 0px;
  background-color: #ffffff;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

.section__title {
  font-size: 20px;
  line-height: 19px;
  margin-top: 33px;
  margin-bottom: 0;
  padding-bottom: 1px;
} 

.column1 {
  max-width: 281px;
  margin-bottom: 8px;
  margin-right: 19px;
  margin-left: 20px;
}

.column2,
.column3,
.column4 {
  display: none;
}

.col__img1170,
.col__img1024,
.col__img768 {
  display: none;
}

.col__img375-320 {
  display: flex;
  width: auto;
  height: auto;
  margin-top: 0;
  margin-right: 57px;
  margin-bottom: 17px;
  margin-left: 62px;
}

.vertikal-one,
.vertikal-two,
.vertikal-three {
  display: none;
}

.col__item {
  margin: 0 86px 6px 15px;
  padding: 0;
  font-size: 15px;
  line-height: 14px;
}

.section__price {
  font-size: 20px;
  line-height: 19px;
  margin: 0 86px 34px 15px;
  padding-right: 30px;
}

.section__item_yellow,
.section__item_black,
.section__item_red768,
.section__item_gray768 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
}

.section__item_black,
.section__item_red768,
.section__item_gray768 {
  margin-right: 2px;
}

.section__item_yellow {
   margin-right: 0;
}

.section__item_red768 {
  background:  #B62E3C;
}

.section__item_gray768 {
  background: #C4C4C4;
}
}