* {
  margin: 0;
  font-family: "Gotham Pro";
  font-size: 12px;
  line-height: 11px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;	
}

/* container
========================= */
.container {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
}


/* делю головную часть на лево...
========================= */
.header__block-left {
  display: flex;
  float: left;  	
}


/* ... и право
========================= */
.header__block-right {
  display: flex;
  float: right; 	
}


/* верхняя часть с логотипом и навигацией
========================= */
.logo {
  margin-top: 32px;
  margin-right: 45px; 
  margin-bottom: 29px; 
  margin-left: 0;
  width: 55px;
  height: 55px;
}

/* навигация левой части верхушки
========================= */
.nav {
  display: inline-block;
  padding-top: 54px;
  padding-right: 81px;
  padding-bottom: 50px;
  padding-left: 0;
}

/* навигация правой части верхушки
========================= */
.nav__second {
  display: inline-block;
  padding: 54px 0 50px 0;
  vertical-align: middle;
}

/* ссылки меню
========================= */
.nav__link {
  padding-right: 35px;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  align-items: center;
  text-transform: uppercase;
}


/* форма поиска по сайту в виде кнопки
========================= */
.btn {
  width: 178px;
  height: 24px;
  margin: 48px 35px 44px 0;
  padding: 0;
  border-left: none;
  border-top: none;
  border-right: none; 
  border-bottom: 1px solid #000000;
  background: transparent;
}

.btn-img {
  float: right;
  padding-top: 5px;
  padding-right: 1px;
  padding-bottom: 5px;
}
 
/* ссылка меню с покупной корзиной
========================= */

.nav__link-cart {
  padding-right: 4px;
  font-size: 12px;
}

/* рисуем черный кружок и в нем цифру 1
========================= */
.nav__link-one {
  display: inline-block;
  font-size: 10px;
  line-height: 13px;
  width: 15px;
  height: 15px;
  background: black;
  border-radius: 50%;
  text-align: center;
  color: white;
  vertical-align: middle;
}

/* кнопка с флагом сша
========================= */
.usa{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.usa-image{
  padding-top: 3px;
  padding-right: 0;
  padding-bottom: 3px;
  padding-left: 0;
}


/* картинка головной части страницы
========================= */
.header__img {
  max-width: 1030px;
  max-height: 280px;
} 

.header__title {
  position: absolute;
  max-width: 195px;
  max-height: 87px;
  left: calc(50% - 195px/2 - 358px);
  top: 207px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: justify;
  text-transform: uppercase;
  color: #ffff;
}

.header__txt{
  position: absolute;
  max-width: 72px;
  max-height: 12px;
  left: calc(50% - 72px/2 - 419px);
  top: 309px;
  font-style: normal;
  font-weight: bold;
/* identical to box height */
  display: flex;
  align-items: center;
  text-align: justify;
  text-transform: uppercase;
  color: #ffff;
}

/* кнопка со стрелкой в картинке головной части страницы
========================= */
.header__btn {
  position: absolute;
  max-width: 46px;
  height: 0;
  left: calc(50% - 46px/2 - 355px);
  top: 309px;
  border: none;
  background: transparent;
  box-sizing: border-box;
  padding: 0;
}

/* Section
========================= */

.section__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 21px;
  text-align:  center;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 54px;
  margin-bottom: 15px;
  padding-bottom: 1px;
} 

/* обертка для колонок с товаром
========================= */
.wrap {
  overflow: hidden;
} 

.column1, .column2, .column3, .column4 {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  max-width: 230px;
  margin-bottom: 26px;
}

.column1 {
  margin-right: 19px;
}

.column2 {
  margin-right: 18px;
  margin-left: 18px;
}

.column3 {
  margin-right: 18px;
  margin-left: 18px;
}

.column4 {
  margin-right: 0;
  margin-left: 19px;
}

/* изображение товара
========================= */
.col__img{
  margin-top: 0;
  margin-right:  19px;
  margin-bottom: 24px;
  margin-left: 23px;
}

/* описание товара
========================= */
.col__item {
  margin-top: 0px;
  margin-right: 12px; 
  margin-bottom: 6px;
  margin-left: 12px;
  padding-top: 6px;
  font-style: normal;
  font-weight: normal;
  line-height: 11px;
}

/* цена товара
========================= */
.section__price {
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  float: left;
  width: 86px;
  margin-top: 0;
  margin-right: 66px;
  margin-bottom: 21px;
  margin-left: 12px;
}

/* CIRCLE
******************************************* */
.section__item {
  cursor: pointer;
}

.section__item_gray,
.section__item_red,
.section__item_yellow,
.section__item_blue {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #c4c4c4; 
  border: none;
}

.section__item_gray{
  background: #c4c4c4;
  margin-right: 8px;
}

.section__item_red {
  background: #b62e3c;
  margin-right: 8px;
}

.section__item_yellow {
  background: #fdb431;
  margin-right: 0;
}

.section__item_blue {
  background: #41479b;
  margin-right: 8px;
}

.section__item_black,
.section__item_peach,
.section__item_burgundy,
.section__item_lightblue {
  display: inline-block;
  width: 9px;
  height: 9px;
  background: #0e1211;
  margin-right: 8px;
  border-radius: 50%;
  border: none;
}

.section__item_peach {
  background: #e29d69;
}

.section__item_burgundy {
  background: #b62e3c; 
}

.section__item_lightblue {
  background: #257da9;
}


/* вертикальные линии
******************************************* */
.vertikal-one,
.vertikal-two,
.vertikal-three {
  position: absolute;
  top: 528px;
}


/* Media- запросы 
************************** */

@media (max-width: 1025px) {

  * {
	margin: 0;
	font-family: "Gotham Pro";
	font-size: 12px;
	line-height: 11px;
}

  *,
  *::before,
  *::after {
  box-sizing: border-box;
}

body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

  .container {
	width: 100%;
	max-width: 930px;
	margin: 0 auto;
}

.logo {
	margin-top: 32.46px;
    margin-right: 29.25px; 
    margin-bottom: 42.09px; 
    margin-left: 0;
	width: 61.03px;
	height: 55px;
}

.nav {
	display: inline-block;
	padding: 48.02px 35px 57.52px 0; /* padding-right 35px задано пока из головы */
	border: none;
    line-height: 11px;
}

.nav__second {
	display: inline-block;
	padding: 48.02px 0 57.52px 0;
	border: none;
	line-height: 11px;
 }

.header__img {
	width: 930px;
	height: 252.82px;
} 